notebook

# CH 1

In [7]:
a = 10
b = 20
c = a + b
print(c)

30

In [12]:
cash = 10
# ca$h = 15
k10h = 30
# 10kh = 30

In [18]:
a = 10
b = 10.5;
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
S1 = "Arman"
S2 = 'Arman'
Ex = "Aryan's home"
# x = 'Aryan's home' //Error

x = '''This is Python 
This is Java 
These are Programming Language'''
x
# print(x)

'This is Python \nThis is Java \nThese are Programming Language'

In [18]:
x = 1
y = 35565
z = -3626272
print(type(x))
print(type(y))
print(type(z))

x = 1.5
y = 355.65
z = -36.26272
print(type(x))
print(type(y))
print(type(z))

x = 36e3

print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Numeric Type

In [19]:
a =1111
print(a)

1111

In [21]:
a = 0B1111
a = 0b1111
print(a)

15

In [22]:
a = 0O1111
a = 0o1111
print(a)

585

In [23]:
a = 0X1111
a = 0x1111
print(a)

4369

Base Conversion

In [36]:
bin(15)
bin(0o11)
bin(0x11)

print(oct(15))
print(oct(0b11))
print(oct(0x11))

print(hex(15))
print(hex(0b11))
print(hex(0o11))

0o17
0o3
0o21
0xf
0x3
0x9

Sequence Type (List,Tuple)

1.List
        
    -changable

In [42]:
list1 = ["apple", "banana", "cherry"]
print(list1)

list2 = ["apple", 1, 2,True,False]
print(list2)

print(type(list1))
print(type(list2))

list1[0] = "strawberry"
print(list1)

['apple', 'banana', 'cherry']
['apple', 1, 2, True, False]
<class 'list'>
<class 'list'>
['strawberry', 'banana', 'cherry']
('apple', 'banana', 'cherry')
('abcd', 3, True, False)
<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

2.Tuple

  -unchangable

In [46]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

tuple2 = ("abcd",3,True,False)
print(tuple2)

print(type(my_tuple))
print(type(tuple2))

# my_tuple[0] = "strawberry"
# print(my_tuple)

('apple', 'banana', 'cherry')
('abcd', 3, True, False)
<class 'tuple'>
<class 'tuple'>

# Mapping Type : dict
    -Ordered
    -Changeable
    -Allow duplicates(but it overrides,last one will be considered)

In [49]:
d = {10:'lucky',10:'Arman',30:'Dhairya'}
print(d[10])
print(d[10])
print(d[30])

Arman
Arman
Dhairya

# Set Type
    -Unordered
    -Unindexed
    -Remove duplicates while printing

In [53]:
x = {1,2,3,4,5,6,7,8,9,1}
print(x)

y = {'apple','banana','apple','banana'}
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'banana', 'apple'}

# Frozenset

In [54]:
list = ["apple", "banana", "cherry"]
y = frozenset(list)
print(y)

frozenset({'banana', 'apple', 'cherry'})

# Boolean Type : bool

In [58]:
print(bool(0))
print(bool(1))
print(bool("apple"))
print(bool(""))
print(bool(20>8))
print(bool(20<8))
print(bool(20==8))

False
True
True
False
True
False
False

# Reserved Keywords
    -33 or 35(after version 3.8)
    
True          is             for             yield
False         if             break           try
None          elif           continue        except
and           else           return          finally
or            while          in
not           nonlocal
def           lambda
pass          del
global        with

In [62]:
x = 7
y = str(7)
z = float(7)

print(x)
print(y)
print(z)

a = 1,2,3,4
print(type(a))
print(a) 

a,b,c,d = 1,2,3,4
print(type(a))
print(a)

# a,b,c,d = 2
a=b=c=d=2

7
7
7.0
<class 'tuple'>
(1, 2, 3, 4)
<class 'int'>
1

In [70]:
s = 20
print("Variable:",s)

a ="10"
b = 20
# a+b

a ="10"
b = 20
a*b #Repetition(any one must int type)

Variable: 20

'1010101010101010101010101010101010101010'

# Global Variable vs Local Variable

In [73]:
a = "Python"

def test():
    global a  
    a = "Java"
    print(a)
    
test()
print(a)

Java
Java

# Reading user input

In [76]:
x = input("Enter Data:")

Enter Data:14

In [3]:
x1 = int(input("Enter Data 1:"))
x2 = int(input("Enter Data 2:"))
print("Sum =",x1+x2)

Enter Data 1:1
Enter Data 2:2
Sum =  3

# Type Casting

In [21]:
print(int(123.987))
print(int(True))
print(int(False))
print(int("10"))

123
1
0
10

In [11]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [13]:
int("0B1111")

15

In [20]:
print(float(123.987))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))

123.987
1.0
0.0
10.0
10.5

In [15]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [17]:
float("0B1111")

ValueError: could not convert string to float: '0B1111'

In [19]:
print(bool(0))
print(bool(1))
print(bool(10))
print(bool(10.5))
print(bool(0.178))
print(bool(0.0))
print(bool("True"))
print(bool("False"))
print(bool(""))

False
True
True
True
True
False
True
True
False

In [22]:
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

# Arithmetic Operators

+ -> Addition (str -> Concatenation)
- -> Subtraction
* -> Muitiplication (str -> String multiplication or repetition) 
    / -> Division (float)
  % -> Modulas
  // -> Floor Division
  ** -> Power or Exponent

In [26]:
a = int(input("Enter No.1 : "))
b = int(input("Enter No.2 : "))

print("Addition is:",a+b)
print("Subtraction is:",a-b)
print("Muitiplication is:",a*b)
print("Division is:",a/b)
print("Modulas is:",a%b)
print("Floor Division is:",a//b)
print("Power or Exponent is:",a**b)

Enter No.1 : 2
Enter No.2 : 3
Addition is: 5
Subtraction is: -1
Muitiplication is: 6
Division is: 0.6666666666666666
Modulas is: 2
Floor Division is: 0
Power or Exponent is: 8

# Python Operators

Comparison or Relational Operators

> - Greater than
< - Less than
>= - Greater than or equal to
<= - Less than or equal to
== - Equal to
!= - Not equal to

In [28]:
a = (input("Enter No.1 : "))
b = (input("Enter No.2 : "))

print("a > b  is:",a>b)
print("a < b is:",a<b)
print("a >= b is:",a>=b)
print("a <= b is:",a<=b)
print("a == b is:",a==b)
print("a != b is:",a!=b)

Enter No.1 : Arman
Enter No.2 : Aryan
a > b  is: False
a < b is: True
a >= b is: False
a <= b is: True
a == b is: False
a != b is: True

# Logical Oprators (and, or, not)

1.Boolean Type Behaviour
    
    True and False = False
    True or False = True
    not True = False
    
2.Non-Boolean Type Behaviour

    0 means False
    non-Zero means True
    Empty String always treated as False
    
    1.x and y -> if x is evaluates to False then result is x otherwise result is y.
        e.g. 10 and 20 #20
              0 and 20 #0
              
    2.x or y -> if x evaluates to True then result is x otherwise result is y.
        e.g. 10 or 20 #10
              0 or 20 #20
              
    3.x -> if x evaluates to True then result is False otherwise result is True.
        e.g. not 10 #False
             not 0 #True

# Ternary Operators

Syntax : x = first value if condition else second value

In [29]:
a,b = 10,20
x = 30 if a < b else 40
print (x)

30

# Assignment operator

    x = 20
    x += 10
    x -= 10
    x *= 10
    x /= 10
    x %= 10
    x **= 10
    x //= 10

# Membership Operators

    in -> Returns True if given object present in specific collection
    not in -> if not present

In [30]:
x = "Hello Learning Python is very easy"
print("l" in x)
print("d" in x)
print("d" not in x)
print("Python" in x)

True
False
True
True

WAP to find Area of a Triangle

In [31]:
x = int(input("Enter Height : "))
y = int(input("Enter Width : "))

print("Area :",(0.5*x*y))

Enter Height : 2
Enter Width : 3
Area : 3.0

WAP to find Area of a Circle

In [33]:
import math
r = int(input("Enter Radius : "))

print("Area :",(math.pi*r*r))

Enter Radius : 2
Area : 12.566370614359172

WAP to convert Farenheit to Celcius & Vice Versa

In [34]:
x = int(input("Enter Celcius : "))
y = int(input("Enter Farenheit : "))

print("Celcius to Farenheit :",((9/5)*x)+32)
print("Farenheit to Celcius :",(y-32)*(5/9))

Enter Celcius : 25
Enter Farenheit : 77
Celcius to Farenheit : 77.0
Farenheit to Celcius : 25.0

WAP to convert days into year,month,day

In [48]:
x = int(input("Enter Days : "))

year = x // 365
month = (x % 365) // 30
day = ((x % 365)%30)
print(year,"Year",month,"Month",day,"Day")

Enter Days : 7000
19 Year 2 Month 5 Day

In [1]:
a = 20
b = 10
c = 30
print(a>b and a>c)
print(a>b or a>c)
print(not a>b)
print(not a>c)

False
True
False
True

# Identity Operator

In [4]:
x = 5
y = 5.3
z = 5

print(type(x) is int)
print(type(y) is int)
print(type(z) is float)
print(x is z)
print(x is not y)

True
False
False
True
True

In [16]:
print((5**3)**2*5/True)
print("1" in "123" and "False" or True)
# print(5 and False or 3/0) #ZeroDivisionError
print(5 and True or 3/0)
print(7*5**2/True*False)

78125.0
False
True
0.0

WAP to check given Number is Positive or Negative using conditional operator.

In [19]:
x = int(input("Enter Number: "))
print("Positive" if x>=0 else "Negative")
print("Even" if x%2==0 else "Odd")

Enter Number: -1
Negative
Odd

WAP to find a number of notes againts a given amount.

In [28]:
x = int(input("Enter Amount: "))
print("500-",x//500,"\n200-",(x%500)//200,"\n100-",((x%500)%200)//100,"\n50-",(((x%500)%200)%100)//50,"\n20-",((((x%500)%200)%100)%50)//20,"\n10-",(((((x%500)%200)%100)%50)%20)//10)

Enter Amount: 880
500- 1
200- 1
100- 1
50- 1
20- 1
10- 1